// colors

$white-color: #ffffff;
$dark-blue-color: #0177fb;
$light-gray-color: #8b8ca7;
$gray-color: #4f5069;

// bg-colors

$bg-light-gray-color: #3b3c4e;
$bg-gray-color: #2c2d3a;
$bg-dark-gray-color: #23242f;
$bg-black-color: #000000;

// fonts

$main-font: "Poppins" sans-serif;
$number-font: "Rubik", sans-serif;
